body {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 400px;
}

header {
	align-items: center;
	background-color: #ff9933;
	border: 10px solid #43dd99;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

header .logo {
	width: 20%;
}

header ul{
	align-items: center;
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 40%;
}