body {
	margin: 0;
	padding: 0;
}

.good {
	display: inline-block;
	margin: 2%;
	vertical-align: top;
	width: 40%;
}

.good img {
	height: 500px;
}

.good h4{
	font-size: 20px;
	text-transform: uppercase;
}